<strong>Olá, {{provider}}</strong>
<p>Um horário foi cancelado, por favor confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{user}}<br/>
  <strong>Data e hora: </strong>{{date}}<br/>
  <br/>
  <small>
    A partir de agora o horário está disponível para novos agendamentos.
  </small>
</p>
